body* {
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

body {
  background-color: #111;
  color: #DDD;
  text-align: center;
}

#MelonJSxample{	
  display: inline-block;
  background-color: green;  
  margin: auto 0px;
}



